
.left {
    background: LightSkyBlue;
    grid-area: leftcontent;
  }
  
.right {
    background: LightPink;
    grid-area: rightcontent;
  }
  
#profile-photo {
    display:grid;
    grid-area: headerL;
}

#name {
    display: grid;
    grid-area: headerR;
}

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "header"
      "rightcontent"
      "leftcontent"
      "footer";
}

#right {
    display:grid;
    /*
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    */
    grid-template-areas: 
    "headerL headerL headerR headerR"
    "body body body body"
    "footer footer footer footer"
    ;
}

@media(min-width: 500px) {
  .main-container{
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "header header"
      "leftcontent rightcontent"
      "footer footer";
  }
}