.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "header"
      "rightcontent"
      "leftcontent"
      "footer";
}

.left {
  background: LightSkyBlue;
  grid-area: leftcontent;
}

.right {
  background: LightPink;
  grid-area: rightcontent;
}

@media(min-width: 500px) {
  .main-container{
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "header header"
      "leftcontent rightcontent"
      "footer footer";
  }
}