#name {
    display: grid;
    grid-area: headerR;
}

.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "header"
      "rightcontent"
      "leftcontent"
      "footer";
}

#right {
    display:flex;
    flex-direction: column;
}

@media(min-width: 500px) {
  .main-container{
    grid-template-columns: 60% 40%;
    grid-template-rows: 50px repeat(4,1fr) 50px;
    grid-gap: 10px;
    grid-template-areas: 
      "header header"
      "leftcontent rightcontent"
      "leftcontent rightcontent"
      "leftcontent rightcontent"
      "leftcontent rightcontent"
      "footer footer";
  }
}

.left {
    grid-area: leftcontent;
  }
  
.right {
    grid-area: rightcontent;
  }
  
#profile-photo {
    display: flex;
}

.header {
    background: lightseagreen;
    grid-area: header;
}

.footer {
    background: lightsalmon;
    grid-area: footer;
}

#t-p-art {
    display: block;
    margin: 0 auto;
    max-width: 500px;
}